<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        レシピ一覧
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @recipes.each do |recipe| %>
        <div class="column is-3">
            <div class="card">
                <div class="card-content">
                    <div class="card-image">
                        <figure class="image">
                            <%= link_to recipe_path(recipe) do%>
                                <%= attachment_image_tag recipe, :image, fallback: "No_image_available.svg", class: "profile-image" %>
                            <%end%>
                        </figure>
                    </div>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <div class="title">
                                <%= link_to recipe.title, recipe_path(recipe)%>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        投稿数：あとで実装
                    </div>
                </div>
            </div>
        </div>            
      <% end %>
    </div>
  </div>
</section>

